svg .svg-logo-1 {
  stroke-dashoffset: 15599.861328125px;
  stroke-dasharray: 15599.861328125px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715)
      0s,
    fill 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
  transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}

svg.active .svg-logo-1 {
  stroke-dashoffset: 0;
  fill: rgb(69, 106, 255);
}

svg .svg-logo-2 {
  stroke-dashoffset: 259.48382568359375px;
  stroke-dasharray: 259.48382568359375px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715)
      0.2s,
    fill 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
  transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s,
    fill 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
}

svg.active .svg-logo-2 {
  stroke-dashoffset: 0;
  fill: rgb(69, 106, 255);
}

svg .svg-logo-3 {
  stroke-dashoffset: 64.81927871704102px;
  stroke-dasharray: 64.81927871704102px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715)
      0.4s,
    fill 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s;
  transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s,
    fill 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s;
}

svg.active .svg-logo-3 {
  stroke-dashoffset: 0;
  fill: rgb(69, 106, 255);
}

svg .svg-logo-4 {
  stroke-dashoffset: 279.7724609375px;
  stroke-dasharray: 279.7724609375px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715)
      0.6000000000000001s,
    fill 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
  transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715)
      0.6000000000000001s,
    fill 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
}

svg.active .svg-logo-4 {
  stroke-dashoffset: 0;
  fill: rgb(69, 106, 255);
}

svg .svg-logo-5 {
  stroke-dashoffset: 76.7836685180664px;
  stroke-dasharray: 76.7836685180664px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715)
      0.8s,
    fill 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4s;
  transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s,
    fill 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4s;
}

svg.active .svg-logo-5 {
  stroke-dashoffset: 0;
  fill: rgb(69, 106, 255);
}

svg .svg-logo-6 {
  stroke-dashoffset: 279.9256591796875px;
  stroke-dasharray: 279.9256591796875px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715)
      1s,
    fill 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
  transition: stroke-dashoffset 2s cubic-bezier(0.47, 0, 0.745, 0.715) 1s,
    fill 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

svg.active .svg-logo-6 {
  stroke-dashoffset: 0;
  fill: rgb(69, 106, 255);
}
